@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeInLeftOffset96 {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    transform: translateX(-96px);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
