# for DEVELOPMENT use only: email-sender and signature-worker will only send emails
# to the emails listed below (comma-separated values).
# e.g.: 
# EMAILS_WHITELIST=mariano@onparallel.com,konstantin@onparallel.com,santi@onparallel.com

# changes on this file are ignored by git, so customize it with your own personal preferences
EMAILS_WHITELIST=
