# Specify a list of whitelisted emails for which emails WILL be sent.
# You won't be able to send emails in DEVELOPMENT is the address is not in this list
# Example:
# EMAILS_WHITELIST=mariano@onparallel.com,konstantin@onparallel.com,santi@onparallel.com
EMAILS_WHITELIST=

# Set a local API ACCESS_TOKEN. This token is used by the storybook to query props on PDF documents
ACCESS_TOKEN=
