# for DEVELOPMENT use only: email-sender and signature-worker will only send emails
# to the emails listed below (comma-separated values).
# e.g.: 
# EMAILS_WHITELIST=mariano@onparallel.com,konstantin@onparallel.com,santi@onparallel.com

# THIS FILE (.development.env.example) IS NOT INTENDED TO BE USED OR MODIFIED
# to use this whitelist, create a new file '.development.env' that will be ignored by git, and set your local preferences there
EMAILS_WHITELIST=
