[Unit]
Description=parallel sendout email queue
After=network.target

[Service]
Environment=PORT=4000
Environment=NODE_ENV=production
WorkingDirectory=/home/ec2-user/main/server
Type=simple
User=ec2-user
ExecStart=/usr/bin/node /home/ec2-user/main/server/dist/workers/sendout-email.js
Restart=always

[Install]
WantedBy=multi-user.target
