name: Code linting

on:
  push:
    branches: [develop]
    paths-ignore:
      - "docs/**"
      - "ops/**"

  pull_request:
    branches: [develop]
    paths-ignore:
      - "docs/**"
      - "ops/**"

jobs:
  linting:
    name: Code linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
      - uses: actions/cache@v4
        id: yarn-cache
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-yarn-cache-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-cache-
      - name: Install dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile --production=false
      - name: Run linter
        run: yarn lint
      - name: Check translations
        run: |
          echo "Checking server translations..."
          yarn workspace @parallel/server extract-i18n-terms
          yarn workspace @parallel/server generate-i18n-files
          echo "Checking client translations..."
          yarn workspace @parallel/client extract-i18n-terms:recipient
          yarn workspace @parallel/client generate-i18n-files:recipient
          yarn workspace @parallel/client extract-i18n-terms:app
          yarn workspace @parallel/client generate-i18n-files:app

concurrency:
  group: ${{ github.ref }}-main
  cancel-in-progress: true
